/* Global variables */
:root {
    /* Colors */
    --gray-0: #090b11;
    --gray-50: #141925;
    --gray-100: #283044;
    --gray-200: #3d4663;
    --gray-300: #505d84;
    --gray-400: #6474a2;
    --gray-500: #8490b5;
    --gray-600: #a3acc8;
    --gray-700: #c3cadb;
    --gray-800: #e3e6ee;
    --gray-900: #f3f4f7;
    --gray-999-basis: 0, 0%, 100%;
    --gray-999_40: hsla(var(--gray-999-basis), 0.4);
    --gray-999: #ffffff;

    --accent-light: #c561f6;
    --accent-regular: #7611a6;
    --accent-dark: #1c0056;
    --accent-overlay: hsla(280, 89%, 67%, 0.33);
    --accent-subtle-overlay: var(--accent-overlay);
    --accent-text-over: var(--gray-999);

    --link-color: var(--accent-regular);

    /* Gradients */
    --gradient-stop-1: var(--accent-light);
    --gradient-stop-2: var(--accent-regular);
    --gradient-stop-3: var(--accent-dark);
    --gradient-subtle: linear-gradient(
        150deg,
        var(--gray-900) 19%,
        var(--gray-999) 150%
    );
    --gradient-accent: linear-gradient(
        150deg,
        var(--gradient-stop-1),
        var(--gradient-stop-2),
        var(--gradient-stop-3)
    );
    --gradient-accent-orange: linear-gradient(
        150deg,
        #ca7879,
        var(--accent-regular),
        var(--accent-dark)
    );
    --gradient-stroke: linear-gradient(
        180deg,
        var(--gray-900),
        var(--gray-700)
    );

    /* Shadows */
    --shadow-sm: 0px 6px 3px rgba(9, 11, 17, 0.01),
        0px 4px 2px rgba(9, 11, 17, 0.01), 0px 2px 2px rgba(9, 11, 17, 0.02),
        0px 0px 1px rgba(9, 11, 17, 0.03);
    --shadow-md: 0px 28px 11px rgba(9, 11, 17, 0.01),
        0px 16px 10px rgba(9, 11, 17, 0.03), 0px 7px 7px rgba(9, 11, 17, 0.05),
        0px 2px 4px rgba(9, 11, 17, 0.06);
    --shadow-lg: 0px 62px 25px rgba(9, 11, 17, 0.01),
        0px 35px 21px rgba(9, 11, 17, 0.05), 0px 16px 16px rgba(9, 11, 17, 0.1),
        0px 4px 9px rgba(9, 11, 17, 0.12);

    /* Text Sizes */
    --text-sm: 0.875rem;
    --text-base: 1rem;
    --text-md: 1.125rem;
    --text-lg: 1.25rem;
    --text-xl: 1.625rem;
    --text-2xl: 2.125rem;
    --text-3xl: 2.625rem;
    --text-4xl: 3.5rem;
    --text-5xl: 4.5rem;

    /* Fonts */
    --font-system: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
        sans-serif;
    --font-body: "Public Sans", var(--font-system);
    --font-brand: Rubik, var(--font-system);

    /* Transitions */
    --theme-transition: 0.2s ease-in-out;
}

@font-face {
    font-family: "AddCityboy";
    src: url("/fonts/AddCityboyNormal.woff2") format("woff2"),
        url("/fonts/AddCityboyNormal.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

:root.theme-dark {
    --gray-0: #ffffff;
    --gray-50: #f3f4f7;
    --gray-100: #e3e6ee;
    --gray-200: #c3cadb;
    --gray-300: #a3acc8;
    --gray-400: #8490b5;
    --gray-500: #6474a2;
    --gray-600: #505d84;
    --gray-700: #3d4663;
    --gray-800: #283044;
    --gray-900: #141925;
    --gray-999-basis: 225, 31%, 5%;
    --gray-999: #090b11;

    --accent-light: #1c0056;
    --accent-regular: #7611a6;
    --accent-dark: #c561f6;
    --accent-overlay: hsla(280, 89%, 67%, 0.33);
    --accent-subtle-overlay: hsla(281, 81%, 36%, 0.33);
    --accent-text-over: var(--gray-0);

    --link-color: var(--accent-dark);

    --gradient-stop-1: #4c11c6;
    --gradient-subtle: linear-gradient(
        150deg,
        var(--gray-900) 19%,
        var(--gray-999) 81%
    );
    --gradient-accent-orange: linear-gradient(
        150deg,
        #ca7879,
        var(--accent-regular),
        var(--accent-light)
    );
    --gradient-stroke: linear-gradient(
        180deg,
        var(--gray-600),
        var(--gray-800)
    );

    --shadow-sm: 0px 6px 3px rgba(255, 255, 255, 0.01),
        0px 4px 2px rgba(255, 255, 255, 0.01),
        0px 2px 2px rgba(255, 255, 255, 0.02),
        0px 0px 1px rgba(255, 255, 255, 0.03);
    --shadow-md: 0px 28px 11px rgba(255, 255, 255, 0.01),
        0px 16px 10px rgba(255, 255, 255, 0.03),
        0px 7px 7px rgba(255, 255, 255, 0.05),
        0px 2px 4px rgba(255, 255, 255, 0.06);
    --shadow-lg: 0px 62px 25px rgba(255, 255, 255, 0.01),
        0px 35px 21px rgba(255, 255, 255, 0.05),
        0px 16px 16px rgba(255, 255, 255, 0.1),
        0px 4px 9px rgba(255, 255, 255, 0.12);
}

html,
body {
    min-height: 100%;
    overflow-x: hidden;
}

body {
    background-color: var(--gray-999);
    color: var(--gray-200);
    font-family: var(--font-body);
    -webkit-font-smoothing: antialiased;
    line-height: 1.5;
}

*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
}

img {
    max-width: 100%;
    height: auto;
}

a {
    color: var(--link-color);
}

h1,
h2,
h3,
h4,
h5 {
    line-height: 1.1;
    font-family: var(--font-brand);
    font-weight: 600;
    color: var(--gray-100);
}

h1 {
    font-size: var(--text-5xl);
}

h2 {
    font-size: var(--text-4xl);
}

h3 {
    font-size: var(--text-3xl);
}

h4 {
    font-size: var(--text-2xl);
}

h5 {
    font-size: var(--text-xl);
}

/* Utilities */

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
}

.wrapper {
    width: 100%;
    margin-inline: auto;
    padding-inline: 1.5rem;
}

.stack {
    display: flex;
    flex-direction: column;
}

.gap-2 {
    gap: 0.5rem;
}
.gap-4 {
    gap: 1rem;
}
.gap-8 {
    gap: 2rem;
}
.gap-10 {
    gap: 2.5rem;
}
.gap-15 {
    gap: 3.75rem;
}
.gap-20 {
    gap: 5rem;
}
.gap-30 {
    gap: 7.5rem;
}
.gap-48 {
    gap: 12rem;
}

.wrap {
    display: flex;
    flex-direction: column;
    margin: auto;
    gap: 32px;
    max-width: 1440px;
    width: 100%;
    flex: 1;
}

/* Components */
.o-licenseBox {
    border-radius: 0.75rem;
    display: flex;
    flex-direction: row;
}

.a-classPill {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    padding: 0 24px;
    border-bottom: 1px solid #2e2e33;
}
.a-classPill span {
    display: flex;
    background-color: #6d2a03;
    color: #e8a177;
    padding: 4px 12px;
    font-size: 18px;
    border-radius: 12px;
    border: 2px solid #b06433;
}

.m-weeksContainer {
    display: flex;
    flex-direction: column;
}
.m-weekItem {
    display: flex;
    align-items: center;
    height: 60px;
    min-width: 100px;
    border-bottom: 1px solid #2e2e33;
    font-size: 20px;
    padding: 24px;
    font-weight: lighter;
}

.m-boxContainer {
    display: flex;
    flex-direction: row;
    flex: 1;
    overflow-x: auto;
    overflow-y: clip;
}

.m-seasonContainer {
    flex: 1;
    max-width: 300px;
}

.m-season__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #2e2e33;
    padding: 16px;
    min-height: 150px;
    text-align: center;
    user-select: none; /* evita la selección de texto */
}
.m-season__logo {
    aspect-ratio: 1/1;
    object-fit: contain;
    width: 80px;
}
.m-season__name {
    font-size: 12px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.m-season__track {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 10px;
    text-align: center;
    height: 60px;
    border-bottom: 1px solid #2e2e33;
}

.m-seasonTrack__item {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 8px;
    width: 100%;
    padding: 8px 16px;
    border-radius: 200px;
    border: 1px solid var(--gray-800);
    border-radius: 1.5rem;
    background-color: #ffffff1f;
    box-shadow: var(--shadow-sm);
    height: 100%;
}
.m-seasonTrackItem__title {
    text-align: center;
    color: var(--gray-300);
    font-weight: 500;
    font-size: 13px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    user-select: none; /* evita la selección de texto */
}

.skills h2 {
    font-size: var(--text-lg);
}

.skills p {
    color: var(--gray-400);
}

.is-hovered {
    background: #ffe0b2;
    border-color: #ff9800;
    transition: background 0.2s, border-color 0.2s;
}

/* 2nda seccion */
.m-featuredTracks {
    display: grid;
    justify-items: center;
    align-items: center;
    gap: 32px;
    grid-template-columns: repeat(4, minmax(200px, 1fr));
}
.m-featuredTrack__times {
    font-family: "Segoe UI";
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 48px;
}
.m-featuredTrack__title {
    font-family: "Segoe UI";
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    text-wrap-style: pretty;
    text-align: center;
}
.m-featuredTrack__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
    width: 300px;
    padding: 8px 16px;
    border-radius: 16px;
}
.a-featuredTrack__map {
    width: 150px;
}

/* Filtros */
.m-groupStyles {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.a-groupBadgeStyles {
    background-color: #ebecf0;
    border-radius: 2em;
    color: #172b4d;
    font-weight: normal;
    line-height: 1;
    min-height: 1;
    text-align: center;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.o-menuList {
    display: flex;
    flex-direction: row;
    background-color: #10111a;
    max-height: 500px !important;
}
.season-select__menu-list {
    padding: 16px;
    gap: 32px;
}
.o-menuList > div {
    flex: 1;
}
.season-select__option {
    --chipBg: #036efc;
    border-radius: 4px;
    position: relative;
    height: 100%;
    background-color: transparent !important;
    border: 1px solid #ffffff2c;
    overflow: hidden;
    transition: all ease-in-out 0.3s;
    margin: 16px 0;
}
.season-select__option::before {
    content: "Add to filter";
    position: absolute;
    top: 0;
    left: -100%;
    display: flex;
    font-size: 12px;
    line-height: 10px;
    flex-direction: column;
    padding: 8px 4px;
    text-align: center;
    border: 1px solid var(--chipBg);
    background-color: var(--chipBg);
    border-radius: 0px 0 3px 0;
    color: white;
    transition: all ease-in-out 0.3s;
}
.season-select__option:hover {
    border: 1px solid var(--chipBg);
}
.season-select__option:hover::before {
    left: 0;
}
.m-optionSelect {
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: center;
    justify-content: center;
    color: white;
}
.m-optionSelect span {
    text-align: center;
    font-size: 12px;
}

/* Item seleccionado */
.season-select__control {
    background-color: transparent !important;
    border-color: #1e1e1e !important;
    padding: 16px;
    border-radius: 10px !important;
}
.season-select__value-container {
    gap: 16px;
    align-items: initial !important;
}
.season-select__multi-value {
    --chipBg: #288556;
    border-radius: 4px;
    position: relative;
    border: 1px solid #288556;
    max-width: 180px;
    height: 100%;
}
.season-select__multi-value__remove {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    border-radius: 0 3px 0 4px !important;
    background-color: #da272771;
    color: white !important;
    cursor: pointer;
}
.m-multiValueItem {
    display: flex;
    flex-direction: column;
    padding: 16px 8px;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white !important;
}
.m-multiValueItem::before {
    content: "Selected";
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    font-size: 12px;
    line-height: 10px;
    flex-direction: column;
    padding: 8px 4px;
    text-align: center;
    border: 1px solid var(--chipBg);
    background-color: var(--chipBg);
    border-radius: 3px 0 3px 0;
    color: white;
}
.m-multiValueItem span {
    font-size: 12px;
    line-height: 16px;
    text-wrap: pretty;
    font-weight: 500;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;

    color: var(--gray-200);
}
.m-optionSelect img,
.m-multiValueItem img {
    --size: 98px;
    width: var(--size);
    height: var(--size);
    object-fit: contain;
}
@media (min-width: 50em) {
}

@media (min-width: 50em) {
    .lg\:gap-2 {
        gap: 0.5rem;
    }
    .lg\:gap-4 {
        gap: 1rem;
    }
    .lg\:gap-8 {
        gap: 2rem;
    }
    .lg\:gap-10 {
        gap: 2.5rem;
    }
    .lg\:gap-15 {
        gap: 3.75rem;
    }
    .lg\:gap-20 {
        gap: 5rem;
    }
    .lg\:gap-30 {
        gap: 7.5rem;
    }
    .lg\:gap-48 {
        gap: 12rem;
    }
}
