---
interface Props {
    title: string;
    tagline?: string;
    align?: "start" | "center";
}

const { align = "center", tagline, title } = Astro.props;
---

<div class:list={["hero stack gap-4", align]}>
    <img
		class="a-siteLogo"
        src="./assets/siteLogoText.png"
        alt="iRaceBuy logo with text"
    />
    <div class="stack gap-2">
        <h1 class="title">{title}</h1>
        {tagline && <p class="tagline">{tagline}</p>}
    </div>
</div>

<style>

    .a-siteLogo{
        padding: 16px;
        max-width: 600px;
    }
    .hero {
        font-size: var(--text-lg);
        text-align: center;
		margin: auto;
		display: flex;
		justify-content: center;
		align-items: center;
		max-width: 800px;
		gap: 64px;
    }

    .title,
    .tagline {
        max-width: 37ch;
        margin-inline: auto;
    }

    .title {
        font-family: "Michroma", sans-serif;
        font-weight: 700;
        line-height: 90%;
        font-size: var(--text-3xl);
        color: var(--gray-0);
        margin-bottom: 16px;
    }

    @media (min-width: 50em) {
        .hero {
            font-size: var(--text-xl);
        }

        .start {
            text-align: start;
        }

        .start .title,
        .start .tagline {
            margin-inline: unset;
        }

        .title {
            font-size: var(--text-5xl);
        }
    }
</style>
