---
import Icon from "./Icon.astro";
---

<!-- HOLA RAUL MIRA A VER SI PUEDESLO AQUI la idea es -->

<!-- cada categoria es una tabal de estas un section class="box skills -->
<section class="box skills">
    <div class="m-boxHeader">
        <!-- imprimir la categoria que corresponda en este div -->
        <div class="a-classPill">CLASE D</div>

        <div class="m-weeksContainer">
            <!-- hacer un bucle por el mayor numero de semanas 
                que tengan la seasons seleccionadas y imprimir "week 1" , Week 2 -->
            <div>week 1</div>

            <div>week 1</div>

            <div>week 1</div>

            <div>week 1</div>
        </div>
    </div>

    <div class="m-boxContainer">
        <!-- por cada season seleccionada crear el siguiente div class="m-seasonContainer-->
        <div class="m-seasonContainer">

            <div class="m-season__info">
                <!-- imprimir el season name y el season logo(tenenmos que ver como hacerlo) -->
                <span>image</span>
                <span>Titulo de la season</span>
            </div>

			<div class="m-season__track">
                <!-- bucle de div class="m-seasonTrack__item por cada una de las semanas que tenga el 
                    season e imprimimos el nombre del circuito correspondiente  -->
				<div class="m-seasonTrack__item" data-trackId="idDelCircuito">
					Nombre del circuito
				</div>

			</div>
        </div>
    </div>
</section>

<style>
    .box {
        border: 1px solid var(--gray-800);
        border-radius: 0.75rem;
        padding: 1.5rem;
        background-color: var(--gray-999_40);
        box-shadow: var(--shadow-sm);
    }

    .skills {
        display: flex;
        flex-direction: column;
        gap: 3rem;
    }

    .skills h2 {
        font-size: var(--text-lg);
    }

    .skills p {
        color: var(--gray-400);
    }

    @media (min-width: 50em) {
        .box {
            border-radius: 1.5rem;
            padding: 2.5rem;
        }

        .skills {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 5rem;
        }

        .skills h2 {
            font-size: var(--text-2xl);
        }
    }
</style>
