---
import Icon from "./Icon.astro";
import { getSeason } from '../functions/seasonsUtils.ts';

// btener los datos

const seasonsID = ["4805", "4810" ,"4795"];
const season = getSeason({ id: seasonsID })

const maxRaceWeek = season.reduce((maxWeeks, trofeo) => Math.max(maxWeeks, trofeo.calendario.length), 0);


console.log(season);


---
<!-- HOLA RAUL MIRA A VER SI PUEDESLO AQUI la idea es -->


<!-- cada licencia es una tabal de estas un section class="box skills -->
<section class="box skills o-licenseBox">
    <div class="m-boxHeader">
        <!-- imprimir la categoria que corresponda en este div -->
        <div class="a-classPill">CLASE D</div>

            <div class="m-weeksContainer">
                {/* <!-- hacer un bucle por el mayor numero de semanas 
                    que tengan la seasons seleccionadas y imprimir "week 1" , Week 2 --> */}
                    {Array.from({ length: maxRaceWeek }).map((_, index) => (
                        <div class="m-weekItem">
                            <span>Semana {index + 1}</span>
                        </div>
                    ))}
                    
            </div>

    </div>

    <div class="m-boxContainer">
        <!-- por cada season seleccionada crear el siguiente div class="m-seasonContainer-->
        {season.map((trofeo) => 
        <div class="m-seasonContainer">


            <div class="m-season__info">
                {/* <!-- imprimir el season name y el season logo(tenenmos que ver como hacerlo) --> */}
                <span>image</span>
                <span>{trofeo.nombre}</span>
            </div>

            {trofeo.calendario.map((week) => 
			<div class="m-season__track">
                {/* <!-- bucle de div class="m-seasonTrack__item por cada una de las semanas que tenga el 
                    season e imprimimos el nombre del circuito correspondiente  --> */}
				<div class="m-seasonTrack__item" data-trackId="idDelCircuito">
					<span class="m-seasonTrackItem__title">
                        {week.track}
                    </span>
				</div>

			</div>
            )}
            </div>

        )}

    </div>
</section>


<style>

    .o-licenseBox{
        border: 1px solid var(--gray-800);
        border-radius: 0.75rem;
        padding: 1.5rem;
        background-color: var(--gray-999_40);
        box-shadow: var(--shadow-sm);
        display: flex;
        flex-direction: row;
    }

    .a-classPill{
        height: 120px;
        border-bottom: 1px solid #2E2E33;

    }

    .m-weeksContainer{
        display: flex;
        flex-direction: column;
    }
    .m-weekItem{
        display: flex;
        align-items: center;
        height: 100px;
        min-width: 100px;
        border-bottom: 1px solid #2E2E33;

    }

    .m-boxContainer{
        display: flex;
        flex-direction: row;
        flex: 1;
    }

    .m-seasonContainer{
        flex: 1;
    }

    .m-season__info{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-bottom: 1px solid #2E2E33;
        padding: 16px;
        height: 120px;
        text-align: center;
    }
    .m-season__track{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 16px 24px;
        text-align: center;
        height: 100px;
        border-bottom: 1px solid #2E2E33;
    }

    .m-seasonTrack__item{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 8px;
        width: 100%;
        padding: 18px 16px;
        background-color: #ecf4f0ea;
        border-radius: 200px;
    }
    .m-seasonTrackItem__title{
        text-align: center;
        color: #288556;
        font-weight: 500;
        font-size: 14px;
    }


    .skills h2 {
        font-size: var(--text-lg);
    }

    .skills p {
        color: var(--gray-400);
    }

    @media (min-width: 50em) {

    }
</style>
